<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body, html {
            height: 100%;
            width: 100%;
        }

        nav {
            height: 6%;
        }

        .container {
            height: 94%;
        }

        .show_bodrder {
            border: 1px red solid;
            height: 50px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    <div class="row show_border" style="padding-top: 20px">
        <form action="{{ host_url }}classify" method="post" enctype="multipart/form-data" style="width: 100%">
            <div class="row show_border justify-content-center" style="height: 420px">
                <div class="col-sm-6">
                    <img id="image" class="img-thumbnail" alt="" src="{{ image_path }}" style="max-height: 400px">
                </div>
            </div>
            <div class="row show_border justify-content-center">
                <div class="col-sm-6 show_border">
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-6">
                            <input type="file" class="form-control-file" id="image_file" name="image_file"
                                   onchange="readFile()">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-sm-4">
                            <h3>{{ label }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    function readFile() {
        let imageFile = document.getElementById('image_file').files[0];
        let fileReader = new FileReader();
        fileReader.onload = function (e) {
            document.getElementById('image').src = fileReader.result;
        };
        fileReader.readAsDataURL(imageFile);
    }
</script>
</html>